
  .checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  .checkbox__link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    color: $accent-color;
    text-decoration: underline;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #188ce8;
    }
  
  }

  .checkbox__frame {
        display: inline-block;
        margin-right: 7px;
        width: 16px;
        height: 15px;
        border: 2px solid $title-text-color;
        border-radius: 2px;
      
        transition-property: background-color, border-color;
        transition-duration: 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    
    
        .checkbox__input:checked + & {
            border-color: transparent;
            background-color: $accent-color;
            background-image: url(../images/icon-vector5.svg);
            background-size: contain;
            background-origin: border-box;
            background-repeat: no-repeat;
          }
  }

  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden;
    clip: rect(1ps, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .form__button {
    margin-right: auto;
    margin-left: auto;
  }
  
//   .checkbox__input {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
  
//     position: absolute;
//   }
  
  
//   .checkbox__icon {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     fill: $white-color;
//     stroke: $white-color;
//   }
  
  