
  .partners {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  
  .partners__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin: 15px;
    height: 90px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 3) / 3);
      }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 6) / 6);
      }
  }
  
  .partners__link {
   display: flex;
   width: 100%;
   height: 100%;
   border: 1px solid $icon-fill;
   border-radius: 4px;
  
   justify-content: center;
   align-items: center;
  
   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
   border: 1px solid $accent-color;
   }
  }
  
  .partners__icon {
   fill: $icon-fill;
  
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   .partners__link:hover &, 
   .partners__link:focus & {
      fill: $accent-color;
    }
  }