.net__link--foot {
    display: flex;
    background-color: $link-color;
  
    margin-bottom: 0;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accent-color;
    }
  }

  .net__icon-foot {
    fill: $white-color;
  }
