.basement {
    background-color: $background-color;

    padding-bottom: 60px;
    padding-top: 60px;
   }

   .footer-container {
    display: flex;
    
    @media screen and (max-width: 767.9px) {
        flex-direction: column;
        align-items: center;
      }

      @media screen and (min-width: 768px) and (max-width: 1199.9px) {
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -60px;
      }
      
      @media screen and (min-width: 1200px) {
        justify-content: space-between;
        align-items: baseline;
      }  
  }


  .footer-block {
    @media screen and (max-width: 767.9px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      @media screen and (min-width: 768px) and (max-width: 1199.9px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 30px * 2) / 2);
        margin-left: 30px;
        margin-top: 60px;
    
        &:last-child {
          flex-basis: 100%;
        }
      }
      
      @media screen and (min-width: 1200px) {
        flex-basis: calc((50% - 45px) / 2);
    
        &:last-child {
          flex-basis: calc(50% - 15px);
        }
      }
  }

  .footer-block:not(:last-child) {
    @media screen and (max-width: 767.9px) {
      margin-bottom: 60px;
    }
  }

  .join {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }

  .logo--footer  {
    margin-bottom: 20px;
  }
      
   .logo {
        display: inline-block;
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $accent-color;

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
          }
    }

      .logo__text {
        color: $title-text-color;

        &--dark-bg {
            color: $white-color; 
        }
       }


       .contact-footer {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        @media screen and (max-width: 1199.9px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
       }

       .contact-footer__item {
         color: rgba(255, 255, 255, 0.6);

          &--dark-bg {
             color: $white-color;
          }
       }

         .contact-footer__item:not(:last-child) {
            margin-bottom: 8px;
          
            @media screen and (min-width: 1200px) {
              margin-bottom: 9px;
            }
          }
          
        .contact-footer__link {
                text-decoration: none;
                color: inherit;
            
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
                &:hover,
                &:focus {
                color: $accent-color;
                }
        }





//    .address-nav {
//     margin-right: 70px;
//   } 

//   .address-nav__coordinates {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: $white-color;

//     margin-bottom: 9px;
//     margin-top: 0;
//    }



