.form-footer {
    @media screen and (max-width: 1199.9px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
  }

  .wrap-footer {
    display: flex;
    width: 100%;
       
    @media screen and (max-width: 1199.9px) {
        flex-direction: column;
        align-items: center;
    }    
 }

  .wrap-footer__input {
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border: 1px solid $input-border;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $input-border;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }

    @media screen and (max-width: 767.9px) {
        width: 100%;
        margin-bottom: 20px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199.9px) {
        width: 450px;
        margin-bottom: 20px;
      }

      @media screen and (min-width: 1200px) {
        flex: 1;
        margin-right: 12px;
      }
  }

  .wrap-footer__icon {
    margin-left: 10px;
    fill: $white-color;
 }