$primary-text-color: #757575;
$title-text-color: #212121;  
$accent-color: #2196F3;
$white-color: #FFFFFF;
$logo-color: #000000;
$contact-color: rgba(255, 255, 255, 0.6);
$background-color: #2F303A; 
$button-color: #F5F4FA;
$border-color: #ECECEC;
$border-portfolio: #EEEEEE;
$box-shadow-one: rgba(0, 0, 0, 0.12);
$box-shadow-two: rgba(0, 0, 0, 0.06);
$box-shadow-three: rgba(0, 0, 0, 0.16);
$portfolio-card: rgba(33, 150, 243, 0.9);
$box-shadow-four: rgba(0, 0, 0, 0.1);
$box-shadow-five: rgba(0, 0, 0, 0.08);
$box-shadow-six: rgba(0, 0, 0, 0.15);
$placeholder-color: rgba(117, 117, 117, 0.5);
$comment-border: rgba(33, 33, 33, 0.2);
$backdrop-color: rgba(0, 0, 0, 0.2);
$input-border: rgba(255, 255, 255, 0.3);
$link-color: rgba(255, 255, 255, 0.1);
$icon-fill: #afb1b8;
$box-shadow-seven: rgba(0, 0, 0, 0.14);
$before-color: rgba(47, 48, 58, 0.8);
$hero-color:rgba(47, 48, 58, 0.4);