.team {
    background-color: $button-color;
  }

  .list-team {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
}
   
   .list-team__item { 
    background-color: $white-color;
    box-shadow: 0px 1px 3px $box-shadow-one, 0px 1px 1px $box-shadow-seven, 0px 2px 1px  $backdrop-color;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 2) / 2);
        margin: 15px;
      }

      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 4) / 4);
      }
   }

   @media screen and (max-width: 767.9px) {
    .list-team__item:not(:last-child) {
        margin-bottom: 30px;
      }
   }

  .list-team__info {
    padding: 30px 10px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .list-team__name {
    color: $title-text-color;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
   }

  .list-team__profession {
    margin-bottom: 16px;
  }
